.brand-logo {
  margin-left: 1em;
}
.table-of-contents {
  position: fixed;
  padding: 0 2em;
}
#infoCard {
  padding: 3em;
}
#infoKontakt {
  font-weight: 100;
  font-size: 1.3em;
  margin-bottom: 1.3em;
}
/*Animate css*/
#cta-btn {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.7s;
  margin-bottom: 2em;
}
#aboutMe-btn {
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 0.4s;
}
#name {
  -webkit-animation-delay: 0.7s;
  -webkit-animation-duration: 0.5s;
}
#name2 {
  -webkit-animation-delay: 0.7s;
  -webkit-animation-duration: 0.5s;
}
#socials {
  -webkit-animation-delay: 1.8s;
  -webkit-animation-duration: 0.7s;
}
#htmlBox {
  -webkit-animation-delay: 0.1s;
}
#cssBox {
  -webkit-animation-delay: 0.3s;
}
#jsBox {
  -webkit-animation-delay: 0.6s;
}
#aiBox {
  -webkit-animation-delay: 0.9s;
}
#psBox {
  -webkit-animation-delay: 1.2s;
}
#idBox {
  -webkit-animation-delay: 1.5s;
}
#sidenav-overlay {
  position: relative;
}
